
<p id="notice"><%= notice %></p>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h2><%= @artist.name %></h2>
  </div class="panel-heading">

    <div class="panel-body">

      <p><%= image_tag @artist.image %></p>
      <h4>Biography</h4>
      <br>
      <%= @artist.bio %>
      <br><br>
      <h4>List of Songs</h4>

      <% if @artist.songs.any? %>
        <ul>
          <% @artist.songs.each do |song| %>
           <li><%= song.name %></li>
          <% end %>
        </ul>
       <% else %>
      <p>There are no songs for this artist.</p>
      <% end %>

      <%= form_for Song.new do |f| %>
          <div class="form-group">
            <%= f.text_field :name, placeholder: "Add a song" %>
          </div>
          <div class="form-group">
            <%= f.label :artist_id %>
            <%= f.collection_select(:artist_id, Artist.all, :id, :name) %>
          </div>
          <div class="form-group">
            <%= f.submit %>
          </div>
      <% end %>

       <%= link_to "Delete all Songs", new_song_path, class: "btn btn-default" %>
      <%= link_to "Back", root_path, class: "btn btn-default" %>
      </div class="panel-body">
    </div>
  </div>
